[Desktop Entry]
Type=Application
Name=Frameguin
Comment=Hardware controls for Framework laptops
Exec=frameguin
Icon=io.github.valeronm.Frameguin
Categories=Settings;HardwareSettings;
Keywords=Framework;battery;charge;current;rate;fingerprint;led;touchpad;haptic;laptop;
Terminal=false
